<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title> HBI </title>
<!--[if lt IE 9]>
<script src="${libUrl}/jquery/1.11.3/jquery.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="${libUrl}/jquery/3.2.1/jquery.min.js"></script>
<!--<![endif]-->
[#include "../include/font-awesome.html"]
[#include "../include/layer.html"]
[#include "../include/layui.html"]
<script type="text/javascript">
	var webUrl = '${webUrl}', cssUrl = '${cssUrl}', jsUrl = '${jsUrl}', libUrl = '${libUrl}', imgUrl = '${imgUrl}';
	var hbi = {};
</script>