<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>

	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.wang.hbi" />

	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven/>

	<!-- 对静态资源文件的访问 -->
	<mvc:default-servlet-handler/>
	<aop:aspectj-autoproxy/>

	<import resource="classpath*:business-spring-mybatis.xml" />

</beans>