<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="login-bg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HBI </title>

    <link rel="stylesheet" href="${cssUrl}/sign/bootstrap.css" >
    <link rel="stylesheet" href="${cssUrl}/sign/bootstrap-responsive.css" type="text/css" >
    <link rel="stylesheet" href="${cssUrl}/sign/bootstrap-overrides.css" type="text/css" >
    <link rel="stylesheet" href="${cssUrl}/sign/font-awesome.css" type="text/css" >
    <link rel="stylesheet" href="${cssUrl}/sign/login.css" type="text/css" media="screen">
    <link rel="stylesheet" href="${cssUrl}/sign/layui.css" >

    <style>
        .msg { color: #f00; width: 100%; line-height: 30px; }
    </style>
    <style id="style-1-cropbar-clipper">
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style>
</head>
<body>
    <form method="post" action="#" id="form1" class="layui-form">
        <div class="row-fluid login-wrapper">
            <a href="#">
                <img class="logo" src="${imgUrl}/logo.png">
            </a>

            <div class="span4 box">
                <div class="content-wrap">
                    <h6>注册</h6>
                    <input name="txtCompName" type="text" id="txtCompName" class="span12" lay-verify="Company" placeholder="公司名称">
                    <input name="txtContact" type="text" id="txtContact" class="span12" lay-verify="People" placeholder="联系人">
                    <input name="txtMobile" type="text" id="txtMobile" class="span12" lay-verify="required|phone" placeholder="联系电话">
                    <input name="txtLoginName" type="text" id="txtLoginName" class="span12" lay-verify="Name" placeholder="请输入登录名">
                    <input name="txtLoginPwd" type="password" id="txtLoginPwd" class="span12" lay-verify="Pwd" placeholder="请输入密码">
                    <input name="txtReLoginPwd" type="password" id="txtReLoginPwd" class="span12" lay-verify="RePwd" placeholder="重新输入密码asdf">

                    <input type="submit" name="txtSignUp" value="注册" id="txtSignUp" class="layui-btn layui-btn-big layui-btn-normal" lay-submit="" style="width: 100%;">
                </div>
            </div>
        </div>
    </form>

</body>
</html>